.bg-dark{
    background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-item{
    margin: 0 15px;
}

.nav-link:hover{
    transform: scale(1.5)
}

.bi-house-door-fill:hover{
    transform: scale(1.5)
}

.first{
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 10px;
}
.about{
    text-align: center;
    background-color: white;
    color: black;
}

.card{
    margin: auto;
}

.card-title{
    text-align: center;
}