.bg-dark{
    background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-item{
    margin: 0 15px;
}

.nav-link:hover{
    transform: scale(1.5)
}

.bi-house-door-fill:hover{
    transform: scale(1.5)
}

.first{
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 10px;
}
.about{
    text-align: center;
    background-color: white;
    color: black;
}

.card{
    margin: auto;
}

.card-title{
    text-align: center;
}

.projects{
    text-align: center;
    background-color: white;
    color: black;
}

/* .carousel-item{
    max-width: 640px;
    max-height: 360px;
    margin: auto;
} */

.carousel{
    width: 80%;
    height: 50%;
    margin: auto;
}

.carousel-caption{
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}

.carousel-caption:hover{
    background-color: rgb(0, 0, 0, 0.7);
}

.contact{
    text-align: center;
    background-color: white;
    color: black;
}

.fa-github-square{
    font-size: 2.5em;
}
.fa-codepen{
    font-size: 2.5em;
}
.fa-linkedin{
    font-size: 2.5em;
}
.fa-file{
    font-size: 2.5em;
}

.fa-link{
    font-size: 2.5em;
}

.contactcard{
    background-color: rgba(53, 53, 53, 0.858);
    color: white;
}

.mt{
    background-color: white;
}

.footer{
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.resume{
    background-color: white;
    text-align: center;
}